.container-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container-loading h1 {
    color: #00cc8b;
}

.container-home {
    width: 100%;
    height: 80vh;   

    background-image: url('../../assets/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
    background-color: #000000;
    position: relative;
}

.show {
    width: 100%;
    height: 100%;
    transition: 1.5s;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 0;
    background-color: #000000f1;
}

.show button {
    border: 1px solid #00cc8b;
    color: #00cc8b;
    background-color: #000000;
    width: 40px;
    height: 40px;
    font-weight: bold;
    border-radius: 25px;
    font-size: 22px;
    margin: 30px;
    transition: 0.6s;
}
.show button:hover {
    color: #000000;
    background-color: #00cc8b;
}

.hidden {
    display: none;
}

.container-favorited {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.986);
    transition: 0.6s;
    overflow-y: scroll;
}

.box-favorited {
    padding: 20px 0 0 20px;
    color: #fff;
}
.box-favorited p {
    font-size: 18px;
    width: 90%;
    border-bottom: 1px solid #00cc8bbb;
    padding-bottom: 15px;
}
.open {
    right: 0px;
}

.close {
    right: -300px;
}

.not-found {
    color: #fff;
}


@media(max-width: 410px) {
    .container-home { 
        height: 40vh;
        background-image: url('../../assets/banner2.jpg');
        background-position: top;
        background-size: contain;
    }
}

@media(min-width: 411px) and (max-width: 780px) {
    .container-home { 
        height: 70vh;
        background-image: url('../../assets/banner2.jpg');
        background-position: top;
        background-size: cover;
    }
}